@import url("reset.css");

body {
	text-align: center;
	background-color: #476894;
	font-family: 'Verdana', sans-serif;
	font-size: 0.8em;
}

div.stage {
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	background-color: #EBDEB7;
	margin: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}



h1.header, h1.title {
	display: block;
	width: 100%;
	text-align: center;
	border-top: 4px solid #FFFFFF; 
	border-bottom: 4px solid #FFFFFF; 
	padding: 2px 0px 2px 0px;
	font-weight: bold;
	background-color: #6C94D9;
	color: #FFFFFF;
	height: 40px;
	line-height: 40px;
	font-size: 1.4em;
}

h1.title {
	margin-top: 20px;
	font-size: 2em;
	background-color: transparent;
	border-top: 0;
	border-bottom: 1px solid #FFFFFF;
}

h2.subheader {
	padding: 2px;
	width: 90%;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
}

h3.title {
	font-style: normal;
	display: block;
	font-weight: bold;
	font-size: 1em;
	text-decoration: underline;
	margin-bottom: 4px;
	margin-top: 4px;
}

table.columns {
	margin-top: 10px;
	width: 100%;
}

table.columns th.main{
	border-bottom: 1px solid #FFFFFF;
	padding: 2px;
	font-weight: bold;
}

table.columns td.main:first-child {
	width: 30%;
	border-right: 1px solid #FFFFFF;
	padding-left: 10px;
}

table.columns td {
	
	padding: 5px;
	vertical-align: top;
}

table.drawedteams {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

table.drawedteams td.dt {
	text-align: center;
	vertical-align: middle;
}

table.drawedteams td.dt:first-child {
	width: 20%;
	font-weight: bold;
}

table.matches  {
	width: 95%;
}

table.matches td {
	border: 0;
	width: 45%;
	text-align: left;
}

table.matches td:first-child {
	text-align: right;
}

table.matches td:nth-child(2){
	width: 10%;
	text-align: center;
}

a.draw {
	color: #000000;
	display: block;
	background-color: #54CC4B;
	padding: 2px;
	border: 1px solid #000000;
	border-radius: 4px;
	width: 200px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

a.draw:hover {
	background-color: #FFFFFF;
}


a.seeded, a.qualified {
	text-decoration: none;
	font-weight: bold;
}

a.seeded:hover, a.qualified:hover {
	color: #000000;
	text-decoration: underline;
}


.drawedteams th{
	border: 1px solid #000000;
	padding: 4px;
}

.drawedteams td{
	border: 1px solid #000000;
	padding: 4px;
}

.teamlist {
	display: block;
	height: 1.1em;
}

.seeded {
	color: #bf4a41;
}

.qualified {
	color: #2a65af;
}

.pending {

}

.finalteams{
	font-weight: bold;
}

