@import url("reset.css");

body {
	text-align: center;
	font-family: 'Verdana', sans-serif;
	font-size: 0.8em;
	background: #E8E8E8 url('bg.png') repeat-x center top;
	
}

div.stage {
	width: 100%;
	padding-bottom: 10px;
}

div#bg {
	background: transparent url('FIFA13-EA_smallbg_asset.jpg') no-repeat center top;
}

div#content {
	background: transparent url('bg-v.png') repeat-y center top;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: 1px solid #555;
}

a.button {
	display: inline-block;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	margin: 10px;
}

a.button:hover {
	background-color: #f5f5f5;
}

h1.header, h1.title {
	display: block;
	width: 100%;
	text-align: center;
	border-top: 4px solid #000; 
	border-bottom: 4px solid #000; 
	padding: 2px 0px 2px 0px;
	font-weight: bold;
	background-color: #F5F5F5;
	height: 40px;
	line-height: 40px;
	color: #000;
	font-size: 1.4em;
}

h1.title {
	margin-top: 20px;
	font-size: 1.8em;
	background-color: transparent;
	border: 0;
	padding: 5px 0px 5px 0px;
	height: auto;
	line-height: auto;
}

h2.subheader {
	padding: 2px;
	width: 90%;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
}

h3.title {
	font-style: normal;
	display: block;
	font-weight: bold;
	font-size: 1em;
	text-decoration: underline;
	margin-bottom: 4px;
	margin-top: 4px;
}

table.columns {
	margin-top: 10px;
	width: 100%;
}

table.columns th.main{
	border-bottom: 1px solid #fff;
	padding: 2px;
	font-weight: bold;
}

table.columns td.main:first-child {
	width: 30%;
	border-right: 1px solid #fff;
	padding-left: 10px;
}

table.columns td {
	
	padding: 5px;
	vertical-align: top;
}

table.drawedteams {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5f5f5;
}

table.drawedteams  th{
	font-weight: bold;
}

table.drawedteams td.dt {
	text-align: center;
	vertical-align: middle;
}

table.drawedteams td.dt:first-child {
	width: 20%;
	font-weight: bold;
}

table.matches  {
	width: 95%;
}

table.matches td {
	border: 0;
	width: 45%;
	text-align: left;
	vertical-align: middle;
}

table.matches td:first-child {
	text-align: right;
}

table.matches td:nth-child(2){
	width: 20%;
	text-align: center;
}

a.draw {
	color: #000;
	display: block;
	background-color: #ddd;
	padding: 2px;
	border: 1px solid #000;
	border-radius: 4px;
	width: 200px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

a.draw:hover {
	background-color: #fff;
}


a.seeded, a.qualified {
	text-decoration: none;
	font-weight: bold;
}

a.seeded:hover, a.qualified:hover {
	color: #000;
	text-decoration: underline;
}


.drawedteams th{
	border: 1px solid #000;
	padding: 4px;
}

.drawedteams td{
	border: 1px solid #000;
	padding: 4px;
}

.teamlist {
	display: block;
	height: 1.1em;
}

.seeded {
	color: #bf4a41;
}

.qualified {
	color: #2a65af;
}

.pending {

}

.finalteams{
	font-weight: bold;
}

.rounded {
	border-radius: 5px;
	background-color: #f5f5f5;
	background: #f5f5f5 url('bg.png') repeat-x center top;
	border: 1px solid #000;
	padding: 10px;
}

a.button.score{
	padding: 3px 5px 3px 5px;
	margin: 0;
	font-size: 0.7em;
}


